@mixin transition{
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.article-show{
  display: flex;
  padding: 70px 150px;
  &__left{
    width: 60%;
    &__heading{
      width: 100%;
      margin-top: 30px;
      &--title{
        line-height: 30px;
        width: 50%;
        .title{
          position: relative;
          background: #eff4ff;
          padding: 2px 5px 2px 20px;
          color: #474747;
          border-radius: 0 10px 10px 0;
          font-size: 30px;
        }
        .title:before {
          font-family: "FontAwesome";
          content: "\f041";
          display: inline-block;
          line-height: 40px;
          position: absolute;
          padding: 0em;
          color: white;
          background: #81a1e4;
          font-weight: normal;
          width: 40px;
          text-align: center;
          height: 40px;
          line-height: 40px;
          left: -1.35em;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          border-radius: 50%;
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.29);
          border-bottom: solid 2px #4967b4;
        }
      }
      &--prefecture{
        line-height: 15px;
        border-bottom: 1px solid rgb(208, 208, 208);
        .prefecture:first-letter {
          font-size: 1.3em;
          color: #4967b4;
        }
      }
    }
    &--image{
      margin: 30px auto 0;
      width: 500px;
      &--style{
        height: 400px;
        width: 500px;
        object-fit: cover;
        box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
      }
    }
    &__detail{
      width: 100%;
      &--title{
        margin-top: 20px;
        height: 50px;
        width: 20%;
        .detail-title{
          font-size: 20px;
          background: linear-gradient(transparent 30%, #a7d6ff 60%);
        }
      }
      &--text{
        width: 100%;
      }
    }
    &__album-title{
      margin-top: 50px;
      height: 50px;
      width: 20%;
      .album-title{
        font-size: 20px;
        background: linear-gradient(transparent 30%, #a7d6ff 60%);
      }
    }
    &__albums{
      height: 600px;
      width: 100%;
      margin-top: 50px;
      padding: 30px;
      position:relative;
      color: #555555; /* 文字色 */
      background-color: #e8ddbd;
      box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
      .album-title {
        position: absolute;
        top: -15px;
        left: 30px;
        padding: 4px 20px;
        color: #555555; /*タイトル色*/
        font-weight: bold;
        background-color: rgba(255,255,255,.4);
        border-left: 2px dotted rgba(0,0,0,.1);
        border-right: 2px dotted rgba(0,0,0,.1);
        box-shadow: 0 0 5px rgba(0,0,0,0.2); 
        transform: rotate(-5deg);
      }
      &__box{
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        &--album{
          height: 300px;
          width:300px;
          background-color: honeydew;
          margin: 5px;
          cursor: pointer;
        }
      }
    }
  }
  &__right{
    width: 40%;
    margin-top: 70px;
    padding: 0 60px;
    &--relationtitle{
      border-bottom: 1px solid rgb(208, 208, 208);
      font-size: 20px;
      line-height: 43px;
    }
    &__relation{
      width: 85%;
      margin: 10px auto;
      display: block;
      &--menu{
        @include transition;
        height: 50px;
        width: 100%;
        background-color: #fff;
        border: 1px solid rgb(208, 208, 208);
        border-radius: 10px;
        margin-bottom: 1px;
        padding: 0 10px;
        position: relative;
        cursor: pointer;
        &--link{
          @include transition;
          display: block;
          height: 50px;
          width: 100%;
          line-height: 50px;
          text-decoration: none;
          color: #333;
        }
        &--icon{
          @include transition;
          position: absolute;
          left: 215px;
          top: 17px;
          color: rgb(208, 208, 208);
        }
      }
      &--menu:hover {
        @include transition;
        background-color: rgb(245, 245, 245);
        .article-show__right__relation--menu--link{
          @include transition;
          text-decoration: none;
          font-size: 1.1rem;
        }
        .article-show__right__relation--menu--icon {
          @include transition;
          position: absolute;
          left: 217px;
          top: 17px;
          color: #333;
        }
      }
    }
    &__area{
      border-bottom: 1px solid rgb(208, 208, 208);
      font-size: 20px;
      line-height: 40px;
      margin-top: 20px
    }
    &__box{
      margin: 20px 0;
      padding: 0 20px;
      height: 1020px;
      overflow: scroll;
      &--spot{
        margin: 30px 0;
        width: 100%;
        position: relative;
        .spot-link{
          display: block;
          height: 250px;
          width: 300px;
          cursor: pointer;
        }
        &--image{
          height: 200px;
          width: 300px;
          object-fit: cover;
          position: absolute;
          top:0;
          left: 0;
          pointer-events: none;
        }
        &--title{
          padding: 0 10px;
          width: 300px;
          background-color: #fff;
          line-height: 50px;
          position: absolute;
          top:200px;
          left: 0;
          font-size: 15px;
          pointer-events: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}